* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
  color: #eef5ff;
  font-family: "Exo 2", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1.8fr 1.2fr;
  background-color: #0e0e0e;
}

main .texto img {
  width: 8%;
  margin: 2% 10%;
}

main .texto h1{
  font-family: "Chakra Petch", sans-serif;
}

textarea {
  background-color: #191919;
}

.textoCaixa {
  display: grid;
  margin: 5% 10%;
}

.textoCaixa span {
  display: flex;
  margin-top: 10%;
  align-items: center;
}

.textoCaixa span img {
  width: 3%;
  margin: 1%;
}

.button1 {
  color: #0e0e0e;
  background-color: #6dabf6;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 2% 5%;
  border-radius: 10px;
}

.button2 {
  color: #0e0e0e;
  background-color: #9563c2;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 2% 5%;
  border-radius: 10px;
}

.cripto img {
  width: 80%;
}

.cripto {
  text-align: center;
  margin: 5%;
  padding: 2%;
  background-color: #191919;
  border-radius: 20px;
}

.criptoTexto {
  padding: 0% 10%;
  margin-bottom: 20%;
}

.criptoTexto h2 {
  font-family: "Chakra Petch", sans-serif;
}

footer {
  background-color: #9563c2;
  color: #191919;
  text-align: center;
  padding: 1.5%;
}

footer a {
  text-decoration: none;
  font-family: "Chakra Petch", sans-serif;
  font-size: 18px;
}